/* Переопределение стилей Bulma */
/* Например, изменение цветовой схемы */
body {
    background-color: #f0f0f0;
  }
  
  /* Пользовательские стили для вашего сайта */
  /* Например, стили для заголовков и текста */
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
  